@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

//gallery modal animations
@keyframes fadeIn {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(12px);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.6) rotateX(20deg) rotateY(10deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateX(0) rotateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.45s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
