<div class="bg-white flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 w-full h-full bg-cover bg-center opacity-20  bg-[url('assets/images/bg2.jpg')]"> </div>
    <div class=" container mx-auto flex flex-col lg:flex-row items-center transition-all duration-700 ease-in-out">
        <div
            class="flex-1 text-center lg:text-left transform transition-all duration-700 ease-in-out px-4 ms-2 md:ms-12 md:px-12 space-y-8">
            <p class="font-semibold text-lg lg:text-xl md:text-base text-red-500 tracking-wide">
                <om-typewriter [words]="[' Simply no better!']"></om-typewriter>
            <h1 class="font-serif text-xl sm:text-xl md:text-2xl lg:text-3xl px-6 py-3 w-fit md:w-3/4
                       font-bold text-white bg-red-500 leading-tight rounded-lg shadow-lg">
                <span class="inline-block animate-float">End of your Tour Search starts from here...</span>
            </h1>

            <p
                class="text-sm sm:text-base md:text-lg text-gray-500  max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl leading-relaxed">
                Find the best inbound and outbound tour packages, crafted to make your travel
                memorable and seamless.
            </p>

            <div class="flex flex-row  gap-3 sm:gap-4 pt-4 w-full sm:w-auto justify-center md:justify-start">
                <a routerLink="/inbound" class="px-3 py-3 rounded-full bg-red-500 text-white font-semibold shadow-lg hover:shadow-xl 
                     transition-transform transform hover:scale-105 text-center">
                    Inbound Packages to India
                </a>
                <a routerLink="/outbound" class="px-3 py-3 rounded-full border-2 border-red-500 text-red-500 font-semibold 
                     hover:bg-white hover:text-red-500 transition-transform transform hover:scale-105 text-center">
                    Outbound Tours to International
                </a>
            </div>
        </div>
        <div class="flex-1 flex justify-center lg:justify-end transform transition-all duration-700 ease-in-out">
            <img src="assets/images/banner1.png" alt="Travel Banner" class="w-full max-w-md lg:max-w-lg object-contain">
        </div>

    </div>
</div>

<app-service></app-service>
<app-subscription></app-subscription>
<div *ngIf="isSubscriptionOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-red-500 rounded-xl shadow-lg w-full max-w-md p-6 relative">
        <button (click)="isSubscriptionOpen = false" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700"> ✕
        </button>
        <app-subscription [modal]=true></app-subscription>

    </div>
</div>